name: Update pciids.ipxe

on:
  schedule:
    - cron: '0 6 * * 0'
  workflow_dispatch:
  
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Run a multi-line script
      run: |
        wget https://raw.githubusercontent.com/pciutils/pciids/master/pci.ids -O pci.ids
        ./pciids_gen pci.ids pciids.ipxe
    - uses: stefanzweifel/git-auto-commit-action@v7
      with:
        commit_message: Update pciids.ipxe with upstream changes
        branch: master
        file_pattern: ./*.ipxe
        repository: .
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
